/venv/
.vscode/
*.egg-info/
doc/_build/
build/
dist/
.pytest_cache/
pennylane_quantuminspire/__pycache__/
tests/__pycache__/
.idea
*.ipynp
*.ipynb_checkpoints
__pycache__
coverage_html_report/
.coverage
doc/code/
